{
    "cps": {
        "debug": true,
        "env": 1,
        "gameId": "100",
        "secret": "70f75282-0144-11ea-bb1a-060d5b3e7372",
        "callbackId": "1",
        "offlineEnable": true,
        "autoBind": true,
        "channel": "iosglobal",
        "pushAutoRegist": false,
        "storeId": "1289632879"
    },
    "Facebook": {
        "friendsEnable": false,
        "avatarWidth": 50,
        "avatarHeight": 50,
        "appId": "590964036898573",
        "pageId": "",
        "pagePath": ""
    },
    "BI": {
        "tag": "demo.global.production.realtime.bi",
        "key": "qleQfNePZumF4WmP",
        "url": "demo-log.puzzleplusgames.net"
    },
    "RUM": {
        "appId": "41000012",
        "token": "0bddda27-8fb0-4140-8829-0f2e827a2696",
        "appId_debug": "41000016",
        "token_debug": "55b6b432-4645-4e97-98dd-4e0be54f9725",
        "url": "rum-us-frontgate.ilivedata.com:13609",
        "uid": true
    },
    "Bugly": {
        "appId": "d6f28f8ec4"
    },
    "Adjust": {
        "appToken": "oydc2rg4nz7k",
        "firstLaunch": "i26xdg",
        "login": "os8fnm",
        "completeTutorial": "isb96s",
        "payment": "7zu86z",
        "iaa_is": "7moyro"
    },
    "IronSource": {
        "appKey": "adbf128d"
    },
    "AIHelp": {
        "appKey": "CHANGE_app_8bcf1efa07c04fbebeb0ba75277e9108",
        "domain": "Change.CS30.NET",
        "appId": "Change_pf_5daf32b4d3b74cdf9e4e26873bde6c92"
    },
    "Twitter": {
        "key": "JSZ2p4S8QaD133FofxWHdHywQ",
        "secret": "fOXUsa2qP4Lg0MfqpMuRu4svBrC9TvL8ntLdmnsnRC061SUF6X",
        "pagePath": "FPX_Esports"
    },
    "Instagram": {
        "pagePath": "designislandgame"
    },
    "YouTube": {
        "channelId": "UCFmwDUEhN-6KTJjX9utm3mA"
    },
    "Google": {
        "serverClientId": "697657254706-tcdjhocu52pfo9hrfdbnfgen4hq511ci.apps.googleusercontent.com"
    },
    "MBI": {
        "tag": "demo.global.sandbox.client.bi",
        "key": "TriGe9W3CMgdM9tJ1mfdWsRMl9dy25U6",
        "url": "puzzle-test-httpagent.puzzleplusgames.net"
    },
    "Helpshift": {
        "appKey": "2d78109cbaf67b59bf0254dae05784f7",
        "domain": "funplusgames.helpshift.com",
        "appId": "funplusgames_platform_20200917035855218-75853ed0b054c08"
    },
    "AppsFlyer": {
        "devKey": "sSNE3VvEwvGArsGKp49HBj"
    },
    "VK": {
        "appId": "6818613"
    }
}
